<h1>Top 10 Movies</h1>
  <p><%=link_to("See more...", movies_path)%></p>

<h1>Top 10 Books</h1>
  <p><%=link_to("See more...", books_path)%></p>

<h1>Top 10 Albums</h1>
  <p><%=link_to("See more...", albums_path)%></p>
<!-- <p>Find me in app/views/mediarankers/index.html.erb</p> -->
